@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.default-layout {

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $nav-size;
    
    background-color: $primary-color;

}
